body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: cursive;
}

#p1 {
  color: hotpink;
}

#p2 {
  color: mediumorchid;
}

#p3,
.firebrick {
  color: firebrick;
}

#p4 {
  color: darkkhaki;
}

#p5 {
  color: gold;
}

#p6 {
  color: mediumaquamarine;
}

#p7,
.tomato {
  color: tomato;
}

#p8 {
  color: lightskyblue;
}

#neon-sign {
  line-height: 200%;
  font-size: 30px;
  letter-spacing: 1rem;
}

.ns-span {
  letter-spacing: 0rem;
  background-color: rgb(153, 255, 246);
  padding: 5px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: x-large;
}

.dec {
  text-decoration: line-through;
}
