.container {
  background-color: #191919;
  height: 400px;
  width: 300px;
  padding: 10px;
}

.container:hover {
  background-color: rgb(211, 248, 146);
  display: flex;
  flex-direction: column-reverse;
  /* align-items: flex-end; */
}

.item {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f6e59c;
  margin: 10px;
  text-align: center;
}

.item:active {
  background-color: chocolate;
}

.container1 {
  display: flex;
}

.container1:hover {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
