#main {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr minmax(max-content, 1000px)) min-content;
}

#div1 {
  background-color: aquamarine;
}

#div2 {
  background-color: rgb(255, 197, 197);
}

#div3 {
  background-color: darkkhaki;
}

#background {
  margin-top: 10px;
  width: 80vw;
  height: 500px;
  background-image: url(baby.png), url(mario.png),
    linear-gradient(to right, rgb(255, 197, 197), aquamarine);
  background-repeat: repeat;
  background-size: 30% cover;
}
