.body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

img[alt="logo"] {
  width: 100px;
}

#menu-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item:nth-child(2) {
  flex-basis: 40%;
}

li > a {
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  font-weight: 600;
}

.nav-item:nth-child(3) > button {
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  padding: 0.4em 0.9em;
  border: 2px solid #003049;
  border-radius: 2em;
}

#login-btn {
  color: #003049;
  background-color: white;
  margin-right: 0.5rem;
}

#login-btn:hover,
#signup-btn:hover {
  color: white;
  background-color: #c1121f;
  border: 2px solid #c1121f;
  cursor: pointer;
}

#signup-btn {
  color: white;
  background-color: #003049;
}

/* Search */
#body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#search-container {
  margin: 10px 20px;
  display: flex;
  border: 1px solid #ffb703;
  font-size: 1rem;
  border-radius: 5em;
  width: 80%;
}

.search-item {
  border-right: 1px solid #edede9;
  padding: 0 1em;
  flex-basis: 15%;
}

.search-item:nth-child(4) {
  border-right: 0px;
  flex-grow: 2;
  flex-shrink: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-item:nth-child(1) {
  flex-grow: 2;
  flex-shrink: 2;
  padding-left: 2em;
}

.head-text {
  font-weight: 700;
}

.body-text {
  font-weight: 200;
  color: gray;
  font-size: 0.8rem;
}

img[alt="search-icon"] {
  max-width: 30px;
}

#btn {
  background-color: #ffb703;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.5em -0.5em;
}

/* Product Gallery Section */
.section {
  text-align: center;
}

#product-containter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

img[alt="product-img"] {
  width: 100%;
  height: 200px;
}

.product-item {
  background-color: #fdf0d5;
  flex: 1 1 300px;
  padding: 15px;
  margin: 8px;
  align-content: flex-start;
}

/* IMAGE GALLERY */

#images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edede9;
  height: 500px;
  gap: 20px;
}

.img {
  width: 100px;
}

#nested-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

img[alt="eyes"],
img[alt="portrait"] {
  width: 150px;
  height: 220px;
}

img[alt="landscape"],
img[alt="road"] {
  width: 250px;
  height: 180px;
}

img[alt="books"],
img[alt="car"] {
  width: 100px;
  height: 100px;
}

#third-container {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

#fourth-container {
  display: flex;
  gap: 20px;
}
