body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-item {
  margin: 1px 4px 2px;
}

.btn {
  background-color: rgb(157, 234, 255);
  padding: 5px;
  font-weight: 500;
  border: 0px;
  width: fit-content;
}
